<h1>Календарь полетов</h1>

<%= form_tag do %>
		<%= select_tag( 'dest_country', options_from_collection_for_select(@dest, :first, :last, '2'))%>
			<%= submit_tag 'GO!' %>
<% end %>
<br>
<%= ' Запрос по стране "' if @dest[@dest_country] %> 
<b><%= @dest[@dest_country] %></b>
<%= '" на месяц вперед:' if @dest[@dest_country] %> 
<br>

<div id="calendar">
		
	<% if @cal %>
		<%= calendarbuild @cal, @date_start.to_date do |date| %>
		<b><%= date.day %></b>
		<br><br>
		<%= @cal[date.to_s].join(', ') if @cal && @cal[date.to_s] && @cal[date.to_s].any? %>
		<% end %>
	<% end %>
</div>
<br>

Введите желаемую дату путешествия, длительность отдыха и email.
<br>
<%= form_tag do %>
		<%= date_field_tag('trip_date', @date_start)%>
		<%= number_field_tag('days', '8', in: 2...16) %>
		<%= email_field_tag('user_email', 'example@email.com')%>
			<%= submit_tag 'GO!' %>
<% end %>
<br>
<%= @trip_date %> числа вы можете поехать на <%= @days%> ночей в следующие страны:

<br>